# init.recovery.mt6853.rc — Samsung Galaxy M32 5G (SM-M326B)
on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    write /sys/class/leds/lcd-backlight/brightness 150
    write /sys/devices/platform/panel/panel_drv/backlight/panel/brightness 150

on fs && property:ro.debuggable=0
    write /sys/class/udc/musb-hdrc/device/cmode 2
    start adbd

on post-fs
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0

service tsp_keepalive /system/bin/tsp_keepalive.sh
    user root
    group root
    seclabel u:r:recovery:s0

service teegris_decrypt /system/bin/sh /system/bin/start_teegris_decrypt.sh
    user root
    group root
    seclabel u:r:recovery:s0

on boot
    start tsp_keepalive
    start teegris_decrypt

on property:sys.powerctl=*
    powerctl ${sys.powerctl}
